/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/

/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

.hljs {
  background-color: #000000;
  color: white;
}

/* Base color: saturation 0; */

.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-formula,
.hljs-attr,
.hljs-property,
.hljs-params {}

.hljs-comment {
  color: #a7a7a7;
}
.hljs-tag,
.hljs-punctuation {
  color: #17a2b8;
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: #8bc34a;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,

.hljs-doctag,
.hljs-name {
  font-weight: bold;
    color: darkorange; /* 색상을 darkorange로 변경 */
}

/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #ffbcbc;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: #40c1ff;
}

/* Language color: hue: 90; */

.hljs-literal {
  color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}

/* Meta color: hue: 200 */

.hljs-meta {
    color: #17a2b8;
}
.hljs-keyword {
    color: darkorange; /* 이 부분도 변경 */
}

.hljs-meta .hljs-string {
  color: #38a;
}

/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* code box 에 카피버튼 */
.copy-container {
     position: relative;
     background-color: #413f3f;

     width: 100%; /* 원하는 크기로 조절하세요 */
     height: 26px; /* 원하는 크기로 조절하세요 */
     margin-bottom: 0rem;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}
.copy-button {
        position: absolute;
        top: 2px;
        right: 6px;
        padding: 2px 10px;
        border: none;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
        color: #b1b0b0;
        background-color: #413f3f;
        font-family: inherit;
        font-size: 90%;
}
.copy-container-name {
        position: relative;
        top: 5px;
        right: -14px;
        color:#b1b0b0;
        float: left;
        background-color: #413f3f;
        border-top-left-radius: 18px;
        font-family: inherit;
        font-size: 90%;
}
