/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #0c5df4;
    --bg-color: #12192c;
    --sub-color: #b6cefc;
    --white-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

/*body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}*/ /* 네비게이션바의 왼쪽 마진문제로 주석처리함 */

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
#vertical-line {
  border-left: 1px dashed #9a9a9a; /* 5px 두께의 점선 */
  height: 100rem;
}
/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: var(--nav--width);
    height: 100vh;
    background-color: #343a40;
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.l-navbar:not(.expander) #extra-content {
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.2s, visibility 0.2s;
}
.l-navbar:not(.expander) #vertical-line {
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.2s, visibility 0.2s;
}
.l-navbar:not(.expander) #extra-content-tag {
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.2s, visibility 0.2s;
}

/* Expander menu */
.expander {
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    height: 100vh;
    background-color: #343a40f0;
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);

}

.expander #extra-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 3.5s, visibility 3.5s;
}
.expander #vertical-line {
    opacity: 1;
    visibility: visible;
    transition: opacity 3.5s, visibility 3.5s;
}
.expander #extra-content-tag {
    opacity: 1;
    visibility: visible;
    transition: opacity 3.5s, visibility 3.5s;
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}
#menu-filed {
    max-width: 38%
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}



/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse_ {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

/*  아이콘 굵기  */
ion-icon {
   --ionicon-stroke-width : 18px;
}


/* 화면이 축소 상태일땐 side bar가 숨겨짐 */
@media (max-width: 768px) {
    .l-navbar {
        position: fixed;
        top: -32px;
        left: 0;
        right: auto;
        width: var(--nav--width);
        height: 87px;
        background-color: #343a40;
        color: var(--white-color);
        padding: 2.5rem 1.5rem 0rem;
        transition: .5s;
        z-index: var(--z-fixed);
    }
}

/* side bar 확장 상태일땐 side bar가 숨겨지지 않음 */
@media (max-width: 768px) {
    .l-navbar.expander {
    width: calc(var(--nav--width) + 9.25rem);
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    height: 100vh;
    background-color: #343a40;
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

\