<!DOCTYPE html>
{% load socialaccount %}

<html>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} Blog {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/77912c546d.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">-->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/newmenu.css' %}">
</head>
<body>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp; Log In</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 d-grid gap-2 col-sm-12">
                        <a role="button" href="{% provider_login_url 'google'%}" type="button"
                           class="btn btn-outline-dark  btn-sm"><i class="fab fa-google"></i>&nbsp;&nbsp; Log in with Google</a>

                        <a role="button" href="/accounts/login/" type="button" class="btn btn-outline-dark  btn-sm"><i
                                class="fas fa-at"></i>&nbsp;&nbsp; Log in with E-mail</a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a role="button" href="/accounts/signup/" type="button"
                           class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

