{% extends 'blog/base_full_width.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post - Blog{% endblock %}

{% block main_area %}
<!-- CKEditor CDN 링크 (버전은 최신 버전으로 변경 가능) -->
<!-- CKEditor CDN 링크 (버전은 최신 버전으로 변경 가능) -->
<script src="https://cdn.ckeditor.com/ckeditor5/46.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>

    <h1>Edit Post</h1>
    <hr/>
<form method="post" enctype="multipart/form-data">{% csrf_token %}

    <table>
        {{ form | crispy}}

         <div id = "div_id_tags_str">
            <label for = "id_tags_str">Tags:</label>
           <input type = "text" name = "tags_str" id =  "id_tags_str" value = "{{ tags_str_default }}" class="textinput textInput form-control">
           </div>
    </table>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>





{% endblock %}