{% extends 'blog/base.html' %}
{% block head_title %}
{% load crispy_forms_tags %}

{{ post.title }} - Blog

{% endblock %}


{% block main_area %}

    <style>
        /* 선택적으로 스타일링을 할 수 있습니다. */

    .copy-container {
         position: relative;
         background-color: #413f3f;

         width: 100%; /* 원하는 크기로 조절하세요 */
         height: 26px; /* 원하는 크기로 조절하세요 */
         margin-bottom: 0rem;
         border-top-left-radius: 18px;
         border-top-right-radius: 18px;
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
        }
    .copy-button {
            position: absolute;
            top: 2px;
            right: 6px;
            padding: 2px 10px;
            border: none;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            cursor: pointer;
            color: #b1b0b0;
            background-color: #413f3f;
            font-family: inherit;
            font-size: 90%;

        }
    .copy-container-name {
            position: relative;
            top: 5px;
            right: -14px;
            color:#b1b0b0;
            float: left;
            background-color: #413f3f;
            border-top-left-radius: 18px;
            font-family: inherit;
            font-size: 90%;

        }

    </style>
<!-- Page content-->
<div class="container mt-5">

    <div class="row">
        <div class="col-lg-12">
            <div id="post-area">

                {% if post.category %}
                <span class="badge badge-secondary float-right">{{ post.category }} </span>
                {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
                {% endif %}
                <h2 class="card-title">{{p.title}}</h2>

                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                <!-- Post hook_text-->
                <h5 class="text-muted">{{post.hook_text}}</h5>
                <!-- Post RichTextField-->
                <h5 class="text-muted">{{post.RichTextField}}</h5>
                <!-- Post author -->
                <p class="lead">
                    by
                    <a href="#" class="text-muted fst-italic mb-2">{{post.author | upper}}</a>
                <hr>
                </p>


                {% if user.is_authenticated and user == post.author %}
                <a class="btn btn -info btn-sm float-right" href="/blog/update_post/{{post.pk}}/" role="button"><i
                        class="fas fa-pen"> </i>Edit Post</a>
                {% endif %}


                <!-- Post Date/Time -->
                <p> {{post.created_at}} </p>
                <hr>
                <!-- Post categories-->
                <!--  <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a> 조그만 버튼 테그-->
                <!--  <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> 조그만 버튼 테그-->

                <!-- Post meta content-->
                </header>


                <!-- Preview images figure-->
                {% if post.head_image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.head_image.url}}"
                                          alt="{{ post.title }} head_image"/></figure>
                {%else%}
                <figure class="mb-4"><img class="img-fluid rounded"
                                          src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image"/>
                </figure>
                {%endif%}
                <!-- Post content-->
                <section class="mb-5">


          {{ post.content|safe  }}


                    <!-- safe는 html 글을 그대로 출력해주는것이 아닌 적용상태로 유저에게 보여주기위한 코드 -->

                    {%if post.tags.exists %}
                    <i class="fas fa-tags"></i>
                    {% for tag in post.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"> <span class="badge badge-dark">{{tag}}</span></a> {% endfor %}
                    <br/>
                    <br/>
                    {% endif %}
                </section>

                <!-- 다운로드 버튼 아이콘 설정 -->
                <!-- Post Download Button -->
                {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
                    Download:
                    {% if post.get_file_ext == 'csv' %}
                    <i class="fas fa-file-csv"></i>

                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>

                    {%elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fas fa-file-word"></i>
                    {else}
                    <i class="far fa-file"></i>
                    {%endif%}
                    {{ post.get_file_name }}
                </a><br><br>

                {%endif%}
            </div>
            <!-- Comments Input -->
            <div id="comment-area">
                <div class="card my-4">
                    <h5 class="card-header">
                        Leave a Comment:
                    </h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <!-- 로그인 하였을경우 -->
                        <form id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form | crispy}}

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        {% else %}
                        <a role="button" type="button" class="btn btn-outline-dark btn-block btn-sm" href="#"
                           data-bs-toggle="modal" data-bs-target="#loginModal">Log in and leave a comment</a>
                        {% endif %}
                    </div>
                </div>


                {% if post.comment_set.exists %}
                <!-- 댓글이 존재하는경우에 -->
                <div class="card bg-light">
                    {% for comment in post.comment_set.iterator %}
                    <!-- Single comment-->
                    <div class="media mb-4" id="comment-{{comment.pk}}">

                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                                src="{{comment.get_avatar_url}}"
                                                                alt="{{comment.author}}" width="60px"></div>
                                <!-- alt는 src가 실패할경우 실행되는 함수임 -->
                                <div class="ms-3">
                                    {% if user.is_authenticated and comment.author == user%}

                                    <div class="float-right">
                                        <a class="btn btn-sm btn-info " role="button"
                                           id="comment-{{comment.pk}}-update-btn"
                                           href="/blog/update_comment/{{comment.pk}}/">edit</a>

                                        <a class="btn btn-sm btn-danger " role="button"
                                           id="comment-{{comment.pk}}-delete-btn" data-toggle="modal"
                                           data-target="#deleteCommentModal-{{comment.pk}}"
                                           href="/blog/update_comment/{{comment.pk}}/">delete</a>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteCommentModal-{{comment.pk}}" tabindex="-1"
                                         role="doalog" aria-labelledby="deleteCommentModal-{{comment.pk}}-ModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteCommentModalLabel={{comment.pk}}">
                                                        &nbsp Are You Sure?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <del> {{ comment | linebreaks}}</del>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                    <a role="button" href="/blog/delete_comment/{{comment.pk}}/"
                                                       type="button" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <h5 class="mt-0">{{ comment.author.username }} &nbsp;&nbsp;
                                        <!-- &nbsp; 는 살짝 떨어트려 놓는 기능--> <small
                                                class="text-muted">{{comment.created_at}}</small>
                                    </h5>
                                    {{ comment.content | linebreaks }}
                                    <!-- linebreaks 는 댓글에 줄바꿈을 인식하여 글을 줄바꿈으로 바꿔줌 -->
                                    {% if comment.is_updated %}
                                    <p class="float-right text-muted"> Updated: {{ comment.updated_at }}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>




<script>
     let tooltipElem; // tooltipElem 함수 선언

    document.onmouseover = function(e) {    //document.onmmouserover 마우스가 어떤 요소 위로 올라갈때 발생하는 이벤트를 처리한다.
      let target = event.target; //마우스 이벤트가 발생한 요소를 가져와 taget변수에 저장함

      // data-tooltip 속성이 있는 요소
      let tooltipHtml = target.dataset.tooltip;

      if (!tooltipHtml) //target의 tooltup 값이 없다면 발생
      return;

      // 툴팁 요소를 만듭니다.

      tooltipElem = document.createElement('div'); //div 테그 생성하여 tooltipElem 함수에 저장
      tooltipElem.className = 'texttip';    //tooltipElem의 클래스 이름을 tooltip으로 바꿈
      tooltipElem.innerHTML = tooltipHtml;  //tooltupElem의 내용을 위에서 저장했던 tooltipHtml함수를 tooltupElemdiv 테그의 내용에 선언합니다.
      document.body.append(tooltipElem);  // tooltipElem을 body에 추가합니다.
      // 툴팁 요소를 data-tooltip 속성이 있는 요소 위, 가운데에 위치시킵니다.
      let coords = target.getBoundingClientRect();  //target의 위치 정보를 가져와 coords 변수에 저장
      let left = coords.left + (target.offsetWidth - tooltipElem.offsetWidth) / 2;
      //target.offsetWidth는 설명하려는 객체의 가로 길이, tip box 가로 길이, coords.left는 target의 left 위치값값

      if (left < 0) left = 0; // 툴팁이 창 왼쪽 가장자리를 넘지 않도록 합니다. 그리고 Tooltip이 -에 오지 않도록 합니다.

      let top = coords.top - tooltipElem.offsetHeight - 5;
      if (top < 0) { // 툴팁이 창 위로 넘치면 요소 아래에 보여줍니다.
        top = coords.top + target.offsetHeight + 5;
      tooltipElem.style.left = left + 'px';
      }else
      {
      tooltipElem.style.left = coords.left + 'px';
      }

      tooltipElem.style.top = top + 'px';   //위에서 위치 다 계산하고 적용
    };

    document.onmouseout = function(e) { //마우스가 요소를 벗어날때 발생하는 이벤트

      if (tooltipElem) {
        tooltipElem.remove();
        tooltipElem = null;
      }
    };

</script>

<script>
// 코드 태그 옆에 자동으로 카피 버튼을 추가하는 함수
document.addEventListener('DOMContentLoaded', function() {
    var codeBlocks = document.querySelectorAll('code');

    codeBlocks.forEach(function(codeBlock) {
         var languageClass = '';
         var classes = codeBlock.className.split(' ');
                 for (var i = 0; i < classes.length; i++) {
            if (classes[i].startsWith('language-')) {
                // 'language-' 다음의 부분을 변수에 저장
                languageClass = classes[i].substring('language-'.length);
                 addCopyButton(codeBlock, classes);
                break;
            }
        }

    });
});

// 코드 태그 위에 카피 버튼을 추가하는 함수
function addCopyButton(codeContainer, classLanguage) {
    var copyButtonContainer = document.createElement('p');
    copyButtonContainer.className = 'copy-container';
    var containerName = document.createElement('span');
    containerName.className = 'copy-container-name';
    containerName.textContent = classLanguage;

    var copyButton = document.createElement('button');
    copyButton.className = 'copy-button';
    copyButton.textContent = 'Copy code';

    // 수정된 부분: codeContainer를 copyCode 함수에 전달
    copyButton.onclick = function() {
    copyCode(codeContainer);
    };
    var parentContainer = codeContainer.parentNode;
    parentContainer.insertBefore(copyButtonContainer, codeContainer);
    //codeContainer.insertBefore(copyButtonContainer, codeContainer.firstChild);
    copyButtonContainer.appendChild(copyButton);
    copyButtonContainer.appendChild(containerName);
}

// 코드 태그의 텍스트를 복사하는 함수
function copyCode(codeBlock) {
    var range = document.createRange();
    range.selectNode(codeBlock);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);

    // 복사 명령 수행
    var success = document.execCommand('copy');


        // 복사 성공 시 버튼 텍스트 변경 후 일정 시간 뒤에 원래의 텍스트로 복구
        var copyButton = codeBlock.parentNode.querySelector('.copy-button');
        if (copyButton) {
            copyButton.textContent = 'Copied!';
            setTimeout(function() {
                copyButton.textContent = 'Copy code';
            }, 2000); // 2초 후에 원래 텍스트로 변경 (2000은 2초를 밀리초로 나타낸 값)
        }

    window.getSelection().removeAllRanges();
}
</script>




{% endblock %}

