{% extends  'blog/base.html' %}

{% block main_area %}

    {% if user.is_authenticated %} <!-- 만약 로그인이 되여있을경우에만 보임-->
        {% if user.is_superuser or user.is_staff %} <!-- 만약 유저가 슈퍼유저인가 혹인 스테프인가?-->
            <a class = "btn btn-info btn-sm float-right" href="/blog/create_post/"role="button"><i class = "fas fa-pen"></i>&nbsp;New Post</a><!--&nbsp버튼을 y축으로 띄운다-->
            {% endif %}
    {% endif %}

    <h1>Blog

        {% if search_info %}<small class = "text-muted">{{ search_info }}</small>{% endif %}
        {% if category %} <span class="badge badge-secondary">{{ category }}</span> {% endif %}<!-- 받아준다 -->
        {% if tag %}<span class="badge badge-secondary"><i class="fas fa-tags"></i>{{ tag}}({{ tag.post_set.count }})</span>{% endif %}
    </h1>


{% if post_list.exists %}

{% for p in post_list %}
<!-- Blog Post -->
<div class="card mb-4" id="post-{{ p.pk }}">
    {% if p.head_image %}
    <a href="#!"><img class="card-img-top" src="{{p.head_image.url}}" alt="{{ p }} head in-age" /></a>
    {% else %}
    <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/1200/200" alt="{{ p }} head in-age" /></a>
    {% endif %}

    <!-- Blog Body임 -->
    <!-- Blog List임 -->
    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-secondary float-right">{{ p.category }}</span>
        {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h2 class="card-title">{{p.title}}</h2>

        {% if p.hook_text %}
        <h5 class ="text-muted"> {{p.hook_text}}</h5>
        {%endif%}

<p class="card-text">{{p.get_content_markdown | truncatewords_html:15 |safe}}</p>

        {%if p.tags.exists %}
          <i class="fas fa-tags"></i>
          {% for tag in p.tags.iterator %}
             <!-- <a href = "{{ tag.get_absolute_url }}"><span class = "badge badge-pill badge-info">{{ tag }}</span></a>-->


              <a href = "{{ tag.get_absolute_url }}"> <span class="badge badge-dark">{{ tag }}</span></a>


              {% endfor %}
              <br/>
              <br/>
              {% endif %}

        <a href="{{p.get_absolute_url}}" class="btn btn-primary">Read more &rarr;</a> <!-- Read More 버튼 -->
    </div>



    <div class="card-footer text-muted">
        Posted on {{p.created_at}} by
        <a href="#">{{ p.author | upper }}</a>
    </div>


</div>
{% endfor %}

{% else %}
<h3>아직 게시물이 없습니다.</h3>
{% endif %}

{% if is_paginated %} <!-- Post가 5개를 넘으면. -->
<!-- Pagination-->
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_next %} <!-- next가 있을경우 활성화된다. -->
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">&larr;Older</a> <!-- 과거의 포스트 페이지로 감 -->
    </li>
    {% else %}
    <li class="page-item disable">
        <a class="page-link" href="#">&larr;Older</a>
    </li>
    {% endif %}
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Newer &rarr;</a><!-- 더욱 최근의 포스트 페이지로 감 -->
    </li>
    {% else %}
    <li class="page-item disable">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>

{% endif %}

{% endblock %}


