<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'blog/css/detail-content.css' %}">
  <title>Text Styling Example</title>
</head>
<body>
  <div id="main-area">
    <p id="text-to-style">한글 English 한글 English 한글 English 한글 English</p>
  </div>
  <section id="text-section">
    <p>한글 English 한글 English 한글 English 한글 Englis asdassdㅁㅇㄴㅁㄴㅇ하이하이h한글 한글</p>
  </section>
<script src="{% static 'blog/js/detail-content.js' %}"></script>
</body>
</html>