<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About GARDENIA</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <!-- 아이콘 사용시 필요한 Code임 -->
    <script src="https://kit.fontawesome.com/77912c546d.js" crossorigin="anonymous"></script>
  
</head>
<body>
  {% include 'blog/navbar.html' %} <!-- 네이브바 확장 -->
  {% include 'blog/sidebar.html' %} <!-- 네이브바 확장 -->

  <section>
    <div class = "container mt-4">
      <div class = "row">
        <div class = "col-lg-8">
                <h1>Promicing</h1>
                <br/>
                <p class = "lead">
                    Promicing은 주로 코딩, 심리학을 위주로 학습한 정보를 정리하는 Web Site입니다.
                    <br/>
                    Web Site에 방문할시에 문의사항이 있으면 댓글로 알려주시기 바랍니다.
                </p>

                <ui>
                    <lI>WORK EXPERIENCE</lI>
                    <ul>
                       <li>C#</li>
                       <li>Python</li>
                       <li>Java</li>
                       <li>심리학</li>
                    </ul>
                </ui>
              
                
        </div>
        <div class = "col-lg-4">
            <img class = "img-fluid" src = "{% static 'single_pages/images/publicstreet.jpg' %}">
        </div>
       
      </div>
    </div>
  </section>
  <section class = "bg-light margin-for-footer" >
    <div class = "container">
        <div class = "row">
            <div class = "col-12">
                
                    <h1>PORTFOLIO</h1>
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-4">
                <div class = "card" data-toggle="modal" data-target = "#pycon2022">
                    <img class = "card-img-top" src ="{% static 'single_pages/images/tree.jpg' %}">
                    <div class = "card-body">
                        <h5 class = "card-title">숲 [숲숲]</h5>
                        <p> 내용 </p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class = "card" data-toggle="modal" data-target = "#pycon2022">
                    <img class = "card-img-top" src ="{% static 'single_pages/images/tree.jpg' %}">
                    <div class = "card-body">
                        <h5 class = "card-title">숲 [숲숲]</h5>
                        <p> 내용 </p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class = "card" data-toggle="modal" data-target = "#pycon2022">
                    <img class = "card-img-top" src ="{% static 'single_pages/images/tree.jpg' %}">
                    <div class = "card-body">
                        <h5 class = "card-title">숲 [숲숲]</h5>
                        <p> 내용 </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>

  
  <!-- Modal -->
  <div class="modal fade" id="pycon2022" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class = "row">
            <div class="col-lg-7">
                <img class = "img-fluid" src ="{% static 'single_pages/images/tree.jpg' %}">
            </div>
            <div class  = "col-lg-5">
                숲 [숲숲]
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




{% include 'blog/footer.html' %} 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

<script src="/docs/5.0/assets/js/docs.min.js"></script>

</body>
</html>